# General for all services
**/dist
**/node_modules
**/build

# Logs
**/*.log
**/logs
**/npm-debug.log*
**/pnpm-debug.lo*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

# IDEs and editors
**/.idea
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json

# Env files
**/.env
**/.env.*.local
**/.env.local

# Coverage and test output
**/coverage
**/.nyc_output

# Temp
**/.temp
**/.tmp

# Runtime
**/*.pid
**/*.seed
**/*.pid.lock

# Diagnostic reports
**/report.*.json

# OS-specific
**/.DS_Store






# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

# Build output
**/node_modules
**/dist
**/dist-ssr
**/*.local

# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
